  body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-y: hidden;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: dimgrey;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #333;
  color: grey;
}

.sidebar a:hover:not(.active) {
  background-color: #333;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 900px;
  /*border: 1px solid #49d;*/
}

month{
  height:30%;
  width:90%;
  margin-left:1%;
  margin-bottom:1%;
  float: left;
  /*border:1px solid #49d;*/
}

category{
  height:50%;
  width:90%;
  margin-bottom:1%;
  float: left;
  /*border:1px solid #49d;*/
}

.btn {
  background-color: grey;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  outline: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn {
  background-color: black;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}